.container{
    display: flex;
    justify-content: space-between;
}

.button{
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 16px;
    background-color: rgb(108, 156, 108);
    color: white
}