 .container{
    width: 30px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    
    position: relative;
 }



 .ball{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    
 }

 /* .sun{
   margin-right: 10px;
  
 }

 .moon{
   margin-left: 5px;
 } */